
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.logo {
	float: left; 
	position: relative;
	padding-left: 3%;
	top: -15px;
	width: 220px;
}

li.participant {
	list-style-type: none;
}

li.response {
	list-style-type: none;
	background-color: #E6E6E6;
}
